
.body-container .eyes .eye.right {
  animation: wink 5s infinite linear;
}
.body-container .eyes .eye.right:after {
  animation: eyeball 5s infinite linear;
}
.body-container .mouth {
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
}

@keyframes wink {
  0% {
    border-radius: 50%/8px 8px 0 0;
    transform: translateY(0);
  }
  10% {
    border-radius: 0;
    transform: translateY(50%);
  }
  20% {
    border-radius: 50%/8px 8px 0 0;
    transform: translateY(0);
  }
  100% {
    border-radius: 50%/8px 8px 0 0;
    transform: translateY(0);
  }
}
@keyframes eyeball {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  10% {
    transform: translateY(-50%) scale(1, 0);
  }
  20% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}