
.body-container .tear {
  width: 8px;
  height: 8px;
  border-radius: 0 50% 50% 50%;
  background-color: #60caec;
  transform: rotate(45deg);
  margin-top: 20px;
  right: 0;
  top: 30%;
  animation: drop 5s infinite ease-in-out;
}

@keyframes drop {
  0% {
    transform: translateY(0) scale(0) rotate(45deg);
    opacity: 1;
  }
  5% {
    transform: translateY(0) scale(1) rotate(45deg);
    opacity: 1;
  }
  50% {
    transform: translateY(50px) rotate(45deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(0) scale(0) rotate(45deg);
  }
}